*{margin: 0;
background-color: rgb(7, 7, 46);}

h2{
  margin-top: 5rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador{
  display: flex;
  justify-content: center;
}
button{
  padding: 2rem;
  margin :1rem;
  color: aliceblue;
  background-color: brown;
  border-radius: 10px;
  border: solid black 5px;

}



