body{
    margin: 0;
    background-color: rgb(10, 16, 68);
}

h3,h1{
    color: aliceblue;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(10, 16, 68);
}

